<div class="body">
  <h2>User List</h2>
  <div *ngIf="data!=null; else fetch">
    <table>
      <thead>
        <th>Name</th>
        <th>Age</th>
        <th>Level</th>
        <th>Email</th>
      </thead>
      <tbody *ngFor="let user of data">
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.level }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #fetch>
    <h4>Fetching users...</h4>
  </ng-template>
</div>